doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        style 
            include ./styles.css
        title Download a file 
    body(style="background-image:url('../assets/patternpad.svg');")
        br
        br
        if error
            div(id="notification" class="show" style="color:red; padding:0.1rem 0.5rem 0.1rem 0.5rem;")
                p Incorrect Password
        form(method="post" class="form")
            label(for="password") Password: 
            input(type="password" id="password" name="password" required)
            button(type="submit" style="grid-column:span 2;" class="submitButton") Download
